<div class="container-fluid" style="background-color: #fff;">
    <div class="navbar-fixed-top" id="header">
        <div class="row"> 
        <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="/"><img src="/images/TicketUp.png" style="height: 65px;"></a><hr>
              <a href="" data-toggle="modal" data-target="#ourstoryModal">OUR STORY</a><hr>
              <a href="/notes">NOTES</a><hr>
              <a href="" data-toggle="modal" data-target="#addBusiness">ADD BUSINESS</a><hr>
              <!-- <a href="#">BLOGS</a><hr> -->
              <a href="/termscondition">TERMS & CONDITION</a><hr>
              <a href="/privacypolicy">PRIVACY POLICY</a><hr>
              <div class="col-sm-12">
                <ul class="footer list-inline">
                  <h5 style="padding-left: 20px;">Follow Us</h5>
                    <li><a href="https://www.facebook.com/ticketup.mate/" style="padding-left: 20px;"><i class="fa fa-facebook" style="color: #40A7F5; font-size: 20px;"></i></a></li>
                    <li><a href="https://twitter.com/_Ticketup_" style="padding-left: 20px;"><i class="fa fa-twitter" style="color: #40A7F5; font-size: 20px;"></i></a></li>
                    <li><a href="https://www.instagram.com/ticket_up/" style="padding-left: 20px;"><i class="fa fa-instagram" style="color: #40A7F5; font-size: 20px;"></i></a></li>
                </ul>
            </div>
              <!-- <div style="margin-top: 50vh; color: #95a5a6;" class="navbar-bottom"><a href="#" style="color: #95a5a6;">Powered By <img src="/images/logo.png" style="height: 15px; width: 15px;"> Receptio</a></div> -->
        </div>
        <div class="container mainview">
            <div class="col-sm-2 col-xs-2"><span style="cursor:pointer;padding-left: 10px;" onclick="openNav()"><img style="height:20px;" src="/images/002-menu.svg"></span>
            </div>
            <div class="col-sm-8 col-xs-8" style="font-family: 'Comfortaa',sans-serif; font-size: 15px; padding-top: 2%; padding-bottom: 0; padding-left: 0;" align="center">
                NOTES
            </div>
                <div class="col-sm-2 col-xs-2" align="right" style="padding-right: 0;">
                    <!-- <a href="/"><span style="cursor:pointer; padding-right: 10px;"><img style="height:15px;" src="/images/001-signs.svg"></span></a> -->
                </div>
        </div>
</div></div><br><br>

<div class="container" style="background-color: #fff; height: 150vh;">
	<div align="center" style="margin-bottom: 20%;" id="notes">
  <div><img src="/images/notes01.jpg" style="width: 90%;"></div>
		<h4 style="color: #40A7F5;"><u>Financially Responsible Drinking</u></h4>
    <article style="width: 90%;">
      <p align="left" style="font-family: 'Comfortaa',sans-serif; color: #C6C6C6;">
        Drink responsibly - it’s definitely something you’ve come across. But do you know what it really means? 
Any financial advisor would tell you that making all your fixed payments in the beginning of the month is a wise thing to do. That way, you know how much money you truly have left for the rest of the month. That’s why services like Ola have an option to recharge your wallet in the beginning of the month. <br>
You’re a smart person aren’t you? If only there was a way to buy all your booze in the beginning of the month. You never have to think about how much money you have to go out gallivanting with your friends! It’d be even better if you buy it for real cheap, huh? If you’re thinking “oh my god, that would solve all my problems instantly”, you should click the button! ;)
      </p>
    </article>
    <a href="/pass" class="btn btn-info btn-lg">BUTTON</a>
	</div>
</div>
<div class="footer navbar-fixed-bottom row" align="center" id="footer" style="background-color: #fff;font-family: 'Comfortaa',sans-serif;">
        <div>
        <div class="col-sm-3 col-xs-3">
          <a href="/profile" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/profile_unselected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px;">Profile</p>
                </a>
        </div>
            <div class="col-sm-3 col-xs-3">
                <a href="/" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/happy_hour_unselected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px;">Happy Hour</p>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3">
               <a href="/pass" style="text-decoration: none; color: #C3C3C3;"><img src="/images/Passes(unselected).svg"  style=" height: 20px;padding:0;"><br>
                    <p style="margin-bottom: 0; font-size: 12px;">Passes</p>
               </a>
            </div>
            <div class="col-sm-3 col-xs-3">
              <a href="/notification" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/notifications_unselected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px;">Notification</p>
                </a>
            </div>
        </div>
    </div>
</div>