<!-- <div id="boxes">
  <div id="dialog" class="window" style="height: 50%;  overflow-y: scroll;">
    <div style="background-image: url(/images/header_bg.jpg); height: 100px;">
      <a class="close"><img src="/images/cancel.svg" style="width: 30px; padding-right: 5px; padding-top: 10px;"></a>
    <div>
      <strong style="color: #fff; font-size: 40px;">Our Story</strong>
    </div><br><br>
    <div>
      <p>“Hey man, I just got a promotion at work!”
“Oh my god the weather today is terrible”
“My team just won the match!”

Every one of those sentences have you ending up in a pub. Stop reading this if you don’t agree. Whether you’re happy or sad; healthy or sick; you always find yourself heading towards your local watering hole.

The thing is, there are bound to be several reasons in a month for you to go out and have a good time with your buddies. It happens to all of us and we thought, if it’s such a recurring ordeal, it might as well be planned and it would be great if we could save a buck in the process.

Then we figured, there has to be a way to do this, and it struck us. Our parents always paid their bills at the beginning of the month. The reason is so simple, it’ll make you think “oh man, that’s so simple and effective! This is a great day” - then you obviously end up the pub again. If you spend on all your fixed expenses in the beginning of the month, then you automatically know how rich (or poor) you are for the rest of the month - and like any wise person always said - <strong>“knowledge is power”.</strong> </p>
    </div>
    <div align="center">
    <a href="#!/pass" class="btn btn-info" style="float: none; padding-bottom: 0; color: #fff;padding: 0px 12px;"><span class="close" style="float: none; padding-bottom: 0; color: #fff;padding: 0px 12px;">Give Me Power</span></a>
    </div>
    </div>
  </div>
  <div id="mask"></div>
</div> -->
<!-- <div id="popupfoot"> <a href="#" class="close agree">I agree</a> | <a class="agree"style="color:red;" href="#">I do not agree</a> </div> -->




<div class="modal fade" id="ourstoryModal" role="dialog">
    <div class="modal-dialog">
    
    
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-sm-12 col-md-12" style="height: 120px;padding: 0; z-index: 1;" align="center">
            
            <div style="background-image: url(/images/header_bg.jpg); height: 120px;">
              <a class="close" onclick="closePop()"><img src="/images/cancel.svg" style="width: 30px; padding-right: 5px; padding-top: 10px;"></a>
            <div style="padding-top: 12%;">
            <strong style="color: #fff; font-size: 40px; z-index: 1;">Our Story</strong>
              <!-- <img src="/images/header_bg.jpg" style="width: 100%;"> -->
              </div>
              </div>
            </div>
        </div>
        <div class="modal-body" style="overflow: hidden; overflow-y: scroll;">
          <div class="col-sm-12 col-md-12" style="padding: 0;margin-bottom: 5px; z-index: 1; background-color: #fff;  box-shadow: 0px 2px 0px 2px #e2e5e6;">
              <div align="center" style="padding: 2px;">
                <p>“<strong>Hey man,</strong> I just got a promotion at work!”
“Oh my god the weather today is terrible”
“My team just won the match!”

Every one of those sentences have you ending up in a pub. Stop reading this if you don’t agree. Whether you’re happy or sad; healthy or sick; you always find yourself heading towards your local watering hole.

The thing is, there are bound to be several reasons in a month for you to go out and have a good time with your buddies. It happens to all of us and we thought, if it’s such a recurring ordeal, it might as well be planned and it would be great if we could save a buck in the process.

Then we figured, there has to be a way to do this, and it struck us. Our parents always paid their bills at the beginning of the month. The reason is so simple, it’ll make you think “oh man, that’s so simple and effective! This is a great day” - then you obviously end up the pub again. If you spend on all your fixed expenses in the beginning of the month, then you automatically know how rich (or poor) you are for the rest of the month - and like any wise person always said - <strong>“knowledge is power”.</strong> </p>
                <div style="margin-top: 5%;">
                <a class="btn btn-block btn-info" style="width: 80%;" onclick="closePop()">Give Me Power</a>
                </div>
              </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
         
        </div> -->
      </div>
      
    </div>
  </div>

  <style type="text/css">
    .modal-body {
    position: relative;
    padding: 0;
}
.modal-header{
padding: 0;
}


@media (max-width: 768px) {
       .modal {
    top: 10%;
    bottom: 10%;
}
.modal-content{
  height: 70vh;
}
.modal-body{
  height: 65%;
}
    }

    @media (min-width: 992px) {
      .modal {
    top: 15%;
    bottom: 15%;
}
.modal-content{
  height: 60vh;
}
/*.modal-body{
  height: 65%;
}*/
    }

    @media (max-width: 991px) {
      
    }
  </style>
