<div class="modal fade" id="ourstoryModal" role="dialog">
    <div class="modal-dialog">
    
    
      <div class="modal-content" id="modalcontent">
        <div class="modal-header" id="modalheader">
          <div class="col-sm-12 col-md-12" style="background-image: url(/images/OurStory.png);height: 120px;padding: 0;" align="center">
            <div>
            <!-- <img src="/images/OurStory.png" style="width: 100%; position: relative;">
            <a class="close" onclick="closePop()"><img src="/images/cancel.svg" style="width: 30px; padding-right: 5px; padding-top: 10px; z-index: 2; position: absolute;">
              </a> -->
              <div style=" height: 120px;">
              <a class="close" onclick="closePop()"><img src="/images/cancel.svg" style="width: 30px; padding-right: 5px; padding-top: 10px;"></a>
            <div style="padding-top: 12%;">
            <strong style="color: #fff; font-size: 40px; z-index: 1;">Our Story</strong>
              <!-- <img src="/images/header_bg.jpg" style="width: 100%;"> -->
              </div>
              </div>
            </div>
            <div>
            <p style="margin: 0;">
              
              </p></div>
            </div>
        </div>
        <div class="modal-body" style="overflow: hidden; overflow-y: scroll;" id="modalbody">
          <div class="col-sm-12 col-md-12" style="padding: 0;margin-bottom: 5px; z-index: 1; background-color: #fff;  box-shadow: 0px 2px 0px 2px #e2e5e6;">
              <div align="left" style="padding: 2%;">
                <p style="font-size: 16px;">
                  Everyday, there’s a reason to go to a pub, wouldn’t you agree? Whether you’re happy or sad, you’re always heading towards your local watering hole - well, at least we did.

It happens to the bestl of us! We thought, if it’s such a recurring ordeal, it might as well be planned

We thought - “there has to be a smarter way to drink up, have a great experience, all while saving a buck or two” -. And then it struck is - if you buy booze beforehand, you can then always make a plan (because every good plan starts with a drink). You save a buck and voila! Before you know it, you’re in high spirits with your friends!
                </p>
                <div style="margin-top: 5%;">
                <a class="btn btn-block btn-info" style="width: 100%;" onclick="closePop()">Let's Go!</a>
                </div>
              </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
         
        </div> -->
      </div>
      
    </div>
  </div>

  <style type="text/css">
    .modal-body {
    position: relative;
    padding: 0;
}
#modalheader{
padding: 0;
}


@media (max-width: 768px) {
       #ourstoryModal {
    top: 10%;
    bottom: 10%;
}
#modalcontent{
  height: 70vh;
}
#modalbody{
  height: 65%;
}
    }

    @media (min-width: 992px) {
      #ourstoryModal {
    top: 15%;
    bottom: 15%;
}
#modalcontent{
  height: 60vh;
}
/*.modal-body{
  height: 65%;
}*/
    }

    @media (max-width: 991px) {
      
    }
  </style>
