 <div class="container-fluid" align="center"  style="background-color: #e9e7e7; height: 100%; padding-left: 0;  padding-right: 0;">
    <!-- <div class="header navbar-top" align="center" id="header">
    
        <div class="row container"> 
            <br>Passes
        </div>
    </div><br> -->
<div class="navbar-fixed-top" id="header">
        <div class="row"> 
        <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="#"><img src="TicketUp.png" style="height: 65px;"></a><hr>
              <a href="#">CLAIM BUSINESS</a><hr>
              <a href="#">BLOGS</a><hr>
              <a href="#">TERMS & CONDITION</a><hr>
              <a href="#">PRIVACY POLICY</a><hr>
              <div style="margin-top: 100%; color: #95a5a6;" class="footer fixed-bottom"><a href="#" style="color: #95a5a6;">Powered By <img src="/images/logo.png" style="height: 15px; width: 15px;"> Receptio</a></div>
        </div>
            <div class="col-sm-2 col-xs-2"><span style="cursor:pointer;padding-left: 10px;" onclick="openNav()"><img style="height:20px;" src="/images/002-menu.svg"></span></div>
            <div class="col-sm-8 col-xs-8" style="font-family: 'Comfortaa',sans-serif; font-size: 15px; padding-top: 2%; padding-bottom: 0; padding-left: 0;" align="center">
                Passes
            </div>
                <div class="col-sm-2 col-xs-2" align="right" style="padding-right: 0;">
                    <a href="/"><span style="cursor:pointer; padding-right: 10px; color: #111;"><span class="glyphicon">&#xe085;</span></span></a>
                </div>
        </div>
</div><br><br>

    <div style="padding: 5px;">
        <div class="row" align="center" style="margin: 2%;">
            <a href="/#!brewpass"><div class="col-sm-12 col-md-6" style=" border-radius: 10px; height: 180px; background-color: #fff;  padding: 2px 6px 2px 6px;margin-bottom: 5px;">
                <img src="/header_bg.jpg" style="height: 150px; width: 100%;border-radius: 10px 10px 0px 0px;">
                <div class="row">
                    <div class="col-sm-6 col-xs-6" style="color: #C3C3C3;">SAVE UPTO</div>
                    <div class="col-sm-6 col-xs-6" style="color: #0099ff;">BUY NOW <span class="glyphicon">&#xe080;</span></div>
                </div>
                
            </div></a>
            <a href="/#!brewpass"><div class="col-sm-12 col-md-6" style=" border-radius: 10px; height: 180px; background-color: #fff; padding: 2px 6px 2px 6px; margin-bottom: 5px;">
                <img src="/header_bg.jpg" style="height: 150px; width: 100%;border-radius: 10px 10px 0px 0px;">
                <div class="row">
                    <div class="col-sm-6 col-xs-6" style="color: #C3C3C3;">SAVE UPTO</div>
                    <div class="col-sm-6 col-xs-6" style="color: #0099ff;">BUY NOW <span class="glyphicon">&#xe080;</span></div>
                </div>
                
            </div></a>
            <a href="/#!brewpass"><div class="col-sm-12 col-md-6" style=" border-radius: 10px; height: 180px; background-color: #fff; padding: 2px 6px 2px 6px; margin-bottom: 5px;">
                <img src="/header_bg.jpg" style="height: 150px; width: 100%;border-radius: 10px 10px 0px 0px;">
                <div class="row">
                    <div class="col-sm-6 col-xs-6" style="color: #C3C3C3;">SAVE UPTO</div>
                    <div class="col-sm-6 col-xs-6" style="color: #0099ff;">BUY NOW <span class="glyphicon">&#xe080;</span></div>
                </div>
                
            </div></a>
            <a href="/#!brewpass"><div class="col-sm-12 col-md-6" style=" border-radius: 10px; height: 180px; background-color: #fff; padding: 2px 6px 2px 6px; margin-bottom: 5px;">
                <img src="/header_bg.jpg" style="height: 150px; width: 100%;border-radius: 10px 10px 0px 0px;">
                <div class="row">
                    <div class="col-sm-6 col-xs-6" style="color: #C3C3C3;">SAVE UPTO</div>
                    <div class="col-sm-6 col-xs-6" style="color: #0099ff;">BUY NOW <span class="glyphicon">&#xe080;</span></div>
                </div>
                
            </div></a><br><br>
            <!-- <div class="col-sm-12" align="center">
            <div class="row">
                <div class="col-sm-1 col-xs-1" style="float: left;">  </div>
                <div class="col-sm-5 col-xs-5" style="margin-right: 10px; margin-left: -12px; height: 50px; width: 40%; border-radius: 10px; box-shadow: 0px 2px 0px 2px #e2e5e6;">
                    AVAILABLE
                </div>
                
                <div class="col-sm-5 col-xs-5" style="margin-left: 10px; height: 50px; width: 40%; border-radius: 10px; box-shadow: 0px 2px 0px 2px #e2e5e6;">
                    OFFERS
                </div>
                <div class="col-sm-1 col-xs-1" style="float: right;">  </div>
            </div>
            </div> -->
        </div>
    </div>
<div class="footer navbar-fixed-bottom row" align="center" id="header">
        <div>
        <div class="col-sm-2 col-xs-2"></div>
            <div class="col-sm-4 col-xs-4">
                <a href="/" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/Happy_hour_unselected.svg" style="height: 30px; padding:0;"><br>
                <p style="margin-bottom: 0;">Happy Hour</p>
                </a>
                
                
            </div>
            <div class="col-sm-4 col-xs-4">
               <a href="/#!pass" style="text-decoration: none; color: #C3C3C3;"><img src="/images/Gift_card_selected.svg"  style=" height: 30px;padding:0;"><br>
                    <p style="margin-bottom: 0;">Passes</p>
               </a>
              
            </div>
            <div class="col-sm-2 col-xs-2"></div>
        </div>
    </div>
</div>