<div class="modal fade" id="passFaq" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center; color: #5bc0de;">How Do I Use My Pass?</h4>
        </div>
        <div class="modal-body" align="center">
        <div class="">
          <div class="table-responsive" align="center">
          <img src="/images/Walkthrough-Infographic.png" style="width: 100%;">
            <!-- <table class="table">
              <tr>
                <td style="text-align: center; color: #5bc0de;"><span class="glyphicon glyphicon-credit-card"></span></td>
                <td>Buy Pass</td>
              </tr>
              <tr>
                <td style="text-align: center; color: #5bc0de;"><span class="glyphicon glyphicon-comment"></span></td>
                <td>Recive Code Via SMS</td>
              </tr>
              <tr>
                <td style="text-align: center; color: #5bc0de;"><span class="glyphicon glyphicon-gift"></span></td>
                <td>Visit Participating/Partner Store</td>
              </tr>
              <tr>
                <td style="text-align: center; color: #5bc0de;"><span class="glyphicon glyphicon-phone"></span></td>
                <td>Give Phone No to Waiter</td>
              </tr>
              <tr>
                <td style="text-align: center; color: #5bc0de;"><span class="glyphicon glyphicon-lock"></span></td>
                <td>Get OTP on Phone</td>
              </tr>
              <tr>
                <td style="text-align: center; color: #5bc0de;"><span class="fa fa-black-tie"></span></td>
                <td>Show OTP to Waiter</td>
              </tr>
              <tr>
                <td style="text-align: center; color: #5bc0de;"><span class="glyphicon glyphicon-glass"></span></td>
                <td>Enjoy Redeemed Drinks</td>
              </tr>
            </table> -->
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info btn-block" data-dismiss="modal">GOT IT</button>
        </div>
      </div>
    </div>
  </div>