<div class="container-fluid"  style="background-color: #e9e7e7; height: 100%; padding-left: 0;  padding-right: 0;">
    <!-- <div class="header navbar-top" align="center" id="header">
    
        <div class="row container"> 
            <br>Passes
        </div>
    </div><br> -->
<div class="navbar-fixed-top" id="header">
        <div class="row"> 
        <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="/"><img src="/images/TicketUp.png" style="height: 65px;"></a><hr>
              <a href="#">NOTES</a><hr>
              <a href="" data-toggle="modal" data-target="#ourstoryModal">OUR STORY</a><hr>
              <a data-toggle="modal" data-target="#addBusiness">ADD BUSINESS</a><hr>
              <!-- <a href="#">BLOGS</a><hr> -->
              <a href="#!/termscondition">TERMS & CONDITION</a><hr>
              <a href="#!/privacypolicy">PRIVACY POLICY</a><hr>
              <div style="margin-top: 45vh; color: #95a5a6;" class="footer fixed-bottom"><a href="#" style="color: #95a5a6;">Powered By <img src="/images/logo.png" style="height: 15px; width: 15px;"> Receptio</a></div>
        </div>
            <div class="container mainview">
            <div class="col-sm-2 col-xs-2"><span style="cursor:pointer;padding-left: 10px;" onclick="openNav()"><img style="height:20px;" src="/images/002-menu.svg"></span></div>
            <div class="col-sm-8 col-xs-8" style="font-family: 'Comfortaa',sans-serif; font-size: 15px; padding-left: 0;" align="center">
                Passes
            </div>
                <div class="col-sm-2 col-xs-2" align="right" style="padding-right: 0;">
                    <a data-toggle="modal" data-target="#passFaq"><span style="cursor:pointer; padding-right: 10px; color: #111;"><img src="/images/001-questions-button.svg" style="width: 20px;"></span></a>
                </div>
        </div></div>
</div>
<br><br>
    
<div class="container mainview">
    
        <div class="row" align="center" style="margin-bottom: 15%; font-size: 12px;">
            <div ng-repeat="pass in passes">
            <a href="/#!brewpass/{{pass.id}}">
            
            <div class="col-xs-12 col-sm-12 col-md-6" style="height: 45vh;  padding: 0;margin-bottom: 5px;">
                <div style="margin: 0px 2px 0px 0px;">
                <img src="{{pass.image}}" style="height: 35vh; width: 100%;">
                <div class="row" style="padding-top: 5px; font-size: 10px; background-color: #fff;">
                    <div class="col-sm-4 col-xs-4" style="color: #C3C3C3; padding: 0;">SAVE UPTO  <span style="color: #111;"><i class="fa">&#xf156;</i>{{pass.save_value}}</span></div>
                    <div class="col-sm-4 col-xs-4" style="color: #C3C3C3; padding: 0;">VENUE <span ng-if="pass.access" style="color: #111;"> MULTIPLE</span>
                    </div>
                    <div class="col-sm-4 col-xs-4" style="color: #0099ff; padding: 0;">BUY NOW <span class="glyphicon">&#xe080;</span>
                    </div>
                </div>
                <div class="row" style="padding-top: 5px; background-color: #fff;">
                <!-- <p style="margin: 0;">partners</p> -->
                    <table>
                        <tr>
                            <td ng-repeat="brand in pass.brands"><img src="{{brand.img}}" style="width: 40px;"></td>
                        </tr>
                    </table>
                        
                    </div>
                    <!-- <div class="col-sm-4 col-xs-4" style="color: #C3C3C3; padding: 0;"></div>
                    <div class="col-sm-4 col-xs-4" style="color: #0099ff; padding: 0;"></div> -->
                </div>
            </div>
            </a>
            </div>
            <br><br>
            
        </div>
    </div>
    </div>
<div pass-faq></div>

<div class="footer navbar-fixed-bottom row" align="center" id="footer" style="background-color: #fff;font-family: 'Comfortaa',sans-serif;">
        <div>
        <div class="col-sm-3 col-xs-3">
          <a href="/#!profile" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/Profile_unselected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px;">Profile</p>
                </a>
        </div>
            <div class="col-sm-3 col-xs-3">
                <a href="/" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/Happy_hour_unselected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px;">Happy Hour</p>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3">
               <a href="/#!pass" style="text-decoration: none; color: #C3C3C3;"><img src="/images/Passes(selected).svg"  style=" height: 20px;padding:0;"><br>
                    <p style="margin-bottom: 0; font-size: 12px; color: #40A7F5;">Passes</p>
               </a>
            </div>
            <div class="col-sm-3 col-xs-3">
              <a href="/#!notification" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/notifications_unselected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px;">Notification</p>
                </a>
            </div>
        </div>
    </div>
</div>