<div class="container-fluid" style="background-color: #e1dede;width: 100%; padding: 0;"  id="main">

<div class="navbar-fixed-top" id="header">
        <div class="row"> 
        <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="/"><img src="/images/TicketUp.png" style="height: 65px;"></a><hr>
              <a href="#">NOTES</a><hr>
              <a href="" data-toggle="modal" data-target="#ourstoryModal">OUR STORY</a><hr>
              <a href="" data-toggle="modal" data-target="#addBusiness">ADD BUSINESS</a><hr>
              <!-- <a href="#">BLOGS</a><hr> -->
              <a href="/termscondition">TERMS & CONDITION</a><hr>
              <a href="/privacypolicy">PRIVACY POLICY</a><hr>
              <div style="margin-top: 50vh; color: #95a5a6;" class="navbar-bottom"><a href="#" style="color: #95a5a6;">Powered By <img src="/images/logo.png" style="height: 15px; width: 15px;"> Receptio</a></div>
        </div>
        <div class="container mainview">
            <div class="col-sm-2 col-xs-2"><span style="cursor:pointer;padding-left: 10px;" onclick="openNav()"><img style="height:20px;" src="/images/002-menu.svg"></span>
            </div>
            <div class="col-sm-8 col-xs-8" style="font-family: 'Comfortaa',sans-serif; font-size: 15px; padding-left: 0;" align="center">
                <strong>{{user_profile.fullname}}</strong>
            </div>
                <div class="col-sm-2 col-xs-2" align="right" style="padding-right: 0;">
                    <!-- <a href="/"><span style="cursor:pointer; padding-right: 10px;"><img style="height:15px;" src="/images/001-signs.svg"></span></a> -->
                </div>
        </div>
</div></div>
<br>
	
<div class="container mainview">
        <div class="row" align="center" style="margin-top: 4%; margin-bottom: 8%; font-size: 12px;">
            <div class="col-sm-12 col-md-12" style="background-color: #fff;  padding: 0;margin-bottom: 5px;padding-top: 5px;">
                <img src="/images/Avatar.png" style="height: 25%; width: 15%;">
                <div class="table-responsive" style="width: 300px;">
                    <table class="table" id="profile_details">
                        <tr>
                            <td><strong style="color: #40A7F5">Name</strong></td>
                            <td><strong style="color: #C6C6C6">{{user_profile.fullname}}</strong><hr style="margin: 0; margin-top: 5px;"></td>
                        </tr> 
                        <tr>
                            <td><strong style="color: #40A7F5">Email</strong></td>
                            <td><strong style="color: #C6C6C6">{{user_profile.email}}</strong><hr style="margin: 0; margin-top: 5px;"></td>
                        </tr>
                        <tr>
                            <td><strong style="color: #40A7F5">Phone Number</strong></td>
                            <td><strong style="color: #C6C6C6">{{user_profile.mobile}}</strong><hr style="margin: 0; margin-top: 5px;"></td>
                        </tr>
                        <!-- <tr>
                            <td><strong style="color: #40A7F5">Password</strong></td>
                            <td><strong style="color: #C6C6C6">{{user_profile.uid}}</strong><hr style="margin: 0; margin-top: 5px;"></td>
                        </tr> -->
                    </table>
                </div>
                <div>
                    <a class="input-sm btn-danger" href="/logout">Log out</a>
                </div>
            </div>
            <br>
            <div class="col-sm-12" style="padding: 0; background-color: #fff;">
                <p>----MY PASSES----</p>
                <div ng-if="userDetail">
                  <img src="/images/Passes(unselected).svg" style="width: 80px;">
                  <p style="color: #C3C3C3; font-size: 12px;">No Passes Available</p>
              </div>
                <div class="row">
                    <div class="col-sm-12" ng-repeat="user in userDetail" style="padding: 0; background-color: #fff;">
                        <div><img src="{{user.image}}" style="width: 100%; height: 30vh;"></div>
                        <div class="table-responsive">
                            <table class="table" id="profileTable">
                                <tr>
                                    <td>Category</td>
                                    <td align="right">{{user.header}}</td>
                                </tr>
                                <tr>
                                    <td>Units Left</td>
                                    <td align="right">{{user.available}}</td>
                                </tr>
                                <tr>
                                    <td>Date Of Expiry</td>
                                    <td align="right">{{user.expiry}}</td>
                                </tr>
                                <tr>
                                    <td>Partners</td>
                                    <td align="right">{{user.brands.length}}</td>
                                </tr>
                            </table>
                            <hr style="margin: 0;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


	<div class="footer navbar-fixed-bottom row" align="center" id="footer" style="background-color: #fff;font-family: 'Comfortaa',sans-serif;">
        <div>
        <div class="col-sm-3 col-xs-3">
          <a href="/profile" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/profile_selected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px; color: #40A7F5;">Profile</p>
                </a>
        </div>
            <div class="col-sm-3 col-xs-3">
                <a href="/" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/happy_hour_unselected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px;">Happy Hour</p>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3">
               <a href="/pass" style="text-decoration: none; color: #C3C3C3;"><img src="/images/Passes(unselected).svg"  style=" height: 20px;padding:0;"><br>
                    <p style="margin-bottom: 0; font-size: 12px;">Passes</p>
               </a>
            </div>
            <div class="col-sm-3 col-xs-3">
              <a href="/notification" style="text-decoration: none; color: #C3C3C3;"><img src = "/images/notifications_unselected.svg"  style="height: 20px; padding:0;"><br>
                <p style="margin-bottom: 0; font-size: 12px;">Notification</p>
                </a>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #profileTable td{
        padding: 0;
    }
    #profileTable{
        width: 98%;
    }
</style>